        <!-- Start Review-->
        <section class="review-section">
            <div class="container-xxl px-lg-5 position-relative">
              <div class="review-section-title-outer">
                <h2
                  class="review-section-title position-relative d-flex justify-content-end"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <span
                    class="text-generator text-uppercase position-relative text-right"
                    >Style is a way to say who you are without having to
                    speak</span
                  >
                </h2>
              </div>
              <div class="row gx-lg-5">
                <div class="col-lg">
                  <div class="slider-outer">
                    <div class="swiper vertical-slider mt-4 mt-lg-0">
                      <div
                        class="swiper-wrapper"
                        data-aos="zoom-up"
                        data-aos-delay="200"
                      >
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            Elon Musk
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              CojoviSportFootwear is mind-blowingly innovative! I'm genuinely impressed by the seamless integration of advanced sensors and 'Angel Mode' safety features. These shoes represent a significant leap forward in wearable technology, effortlessly merging style with cutting-edge functionality. It's a game-changer for anyone who values both fitness and safety in their daily life. Well done, CojoviSportFootwear team!" - Elon Musk.
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            Bill Gates
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              CojoviSportFootwear is a remarkable fusion of technology and practicality. The ability to track vitals and switch modes based on activity is a testament to its advanced engineering. The 'Angel Mode' safety feature is particularly commendable, offering users an added layer of security. It's clear that CojoviSportFootwear is paving the way for the future of footwear technology." - Bill Gates
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div
                            class="title text-uppercase"
                            data-swiper-parallax="-100"
                          >
                            Sam Altman
                          </div>
  
                          <div
                            class="product-rating d-flex"
                            data-swiper-parallax="-200"
                          >
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                            <img src="assets/img/star-a.svg" alt="" />
                          </div>
  
                          <div class="comment" data-swiper-parallax="-300">
                            <img
                              class="invertedcomma d-block"
                              src="assets/img/ic-invertedcomma.svg"
                              alt=""
                            />
                            <p>
                              I'm incredibly impressed by CojoviSportFootwear's forward-thinking approach to footwear technology. The integration of advanced sensors and real-time health monitoring is truly groundbreaking. The 'Angel Mode' safety feature is a brilliant addition, setting a new standard for personal safety in wearable tech. CojoviSportFootwear is undeniably at the forefront of innovation." - Sam Altman
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  <figure
                    class="figure d-block review-figure position-relative mb-0 mt-4 mt-lg-0"
                    data-aos="zoom-in-down"
                    data-aos-duration="1000"
                    data-aos-delay="200"
                  >
                    <img
                      class="figure-img img-fluid d-block mx-auto mb-0"
                      src="assets/img/reivew-img.jpg"
                      alt=""
                    />
                  </figure>
                </div>
              </div>
            </div>
          </section>
          <!--  End Review-->
          