          <!-- Start About the Brand-->
          <section class="about-brand">
            <div class="row">
              <div class="col-lg-7">
                <div class="about-brand-heading text-left">
                  <h2
                    class="about-brand-heading-title text-generator position-relative"
                    data-aos="fade-up"
                  >
                    Who/What is CojoviSportFootwear?
                  </h2>
                  <p
                    class="about-brand-heading-text"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    Welcome to CojoviSportFootwear – the revolution your feet have been waiting for! 🚀 Imagine a shoe that's not just a fashion statement, but a high-tech marvel. Our footwear is the epitome of futuristic design, equipped with advanced sensors that track your steps and seamlessly switch modes when you break into a run. Monitor your calories burned, heart rate, and blood oxygen levels with unparalleled precision. But that's not all – CojoviSportFootwear takes safety to the next level with 'Angel Mode'. Program a unique foot tap sequence that activates a distress signal to authorities when you're in danger. Plus, with real-time push notifications to your phone, you'll always be in the know about your vitals. Step into the future with CojoviSportFootwear – where innovation meets comfort, style, and safety! 
                  </p>
                  <button
                    type="button"
                    class="btn btn-primary rounded-0 text-uppercase"
                    data-aos="flip-left"
                  >
                    <span class="text-white">Technology Meets Footwear</span>
                  </button>
                </div>
                <figure
                  class="figure d-block about-brand-figure d-flex justify-content-lg-end mb-0"
                  data-aos="flip-left"
                >
                  <img
                    class="figure-img img-fluid d-block"
                    src="assets/img/about-img-01.jpg"
                    alt=""
                  />
                </figure>
              </div>
              <div class="col-lg-5">
                <figure
                  class="figure d-block about-brand-figure mb-0"
                  data-aos="flip-right"
                >
                  <img
                    class="figure-img img-fluid d-block"
                    src="assets/img/about-img-02.jpg"
                    alt=""
                  />
                </figure>
                <figure
                  class="figure d-block about-brand-figure mb-0"
                  data-aos="flip-up"
                >
                  <img
                    class="figure-img img-fluid d-block"
                    src="assets/img/about-img-03.jpg"
                    alt=""
                  />
                </figure>
              </div>
            </div>
          </section>
          <!--  End About the Brand-->
          