        <!-- Start Quick Questions to ask-->
        <section class="quick-questions">
            <div class="container-xxl">
              <div class="quick-questions-heading text-center mx-auto">
                <h2
                  class="quick-questions-heading-title text-generator"
                  data-aos="fade-up"
                >
                  Quick Questions to ask
                </h2>
                <p
                  class="quick-questions-heading-text mb-0"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  Quick answers to the most common questions
                </p>
              </div>
              <div class="row">
                <div class="col-lg">
                  <div class="accordion accordion-flush">
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                    >
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne"
                          aria-expanded="true"
                          aria-controls="flush-collapseOne"
                        >
                          What makes CojoviSportFootwear different from other athletic shoes?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          CojoviSportFootwear stands out with its advanced sensors that track steps, calories burned, heart rate, and blood oxygen levels. Additionally, our 'Angel Mode' safety feature allows users to program a unique foot tap sequence to alert authorities in case of danger.
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo"
                          aria-expanded="true"
                          aria-controls="flush-collapseTwo"
                        >
                          How does the shoe's 'Angel Mode' work?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          'Angel Mode' is a safety feature that lets users program a specific and intricate foot tap sequence. If activated during an emergency, this sequence sends a distress signal to authorities, ensuring rapid response when you need it most.
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="400"
                    >
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree"
                          aria-expanded="true"
                          aria-controls="flush-collapseThree"
                        >
                          Can I connect CojoviSportFootwear to my smartphone?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Yes, CojoviSportFootwear pairs with your smartphone via Bluetooth. You'll receive real-time push notifications about your vitals and other important updates directly to your phone.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  <div class="accordion accordion-flush">
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-heading01">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse01"
                          aria-expanded="true"
                          aria-controls="flush-collapse01"
                        >
                          Are CojoviSportFootwear shoes waterproof?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse01"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading01"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Our shoes are designed to be water-resistant, offering protection from light rain and splashes. However, they are not fully waterproof and should not be submerged in water.
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="400"
                    >
                      <h2 class="accordion-header" id="flush-heading02">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse02"
                          aria-expanded="true"
                          aria-controls="flush-collapse02"
                        >
                          How do I charge the battery in my CojoviSportFootwear?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse02"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading02"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          CojoviSportFootwear comes with a USB charging port. Simply plug the provided charging cable into the port located on the shoe, and connect the other end to a USB power source to recharge the battery.
                        </div>
                      </div>
                    </div>
                    <div
                      class="accordion-item border-0 rounded-3 mb-3"
                      data-aos="flip-up"
                      data-aos-delay="200"
                    >
                      <h2 class="accordion-header" id="flush-heading03">
                        <button
                          class="accordion-button rounded-3 bg-transparent"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse03"
                          aria-expanded="true"
                          aria-controls="flush-collapse03"
                        >
                          Is the shoe's technology safe for daily use?
                          <img class="icon" src="assets/img/ic-plus.svg" alt="" />
                        </button>
                      </h2>
                      <div
                        id="flush-collapse03"
                        class="accordion-collapse collapse show"
                        aria-labelledby="flush-heading03"
                        data-bs-parent="#accordionFlushExample"
                      >
                        <div class="accordion-body">
                          Absolutely! CojoviSportFootwear's technology is designed with user safety in mind. The sensors and features are non-invasive and have been tested rigorously to ensure they meet the highest standards of reliability and accuracy.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--  End Quick Questions to ask-->
          